{% extends 'User/header_footer.html' %}
{% load static %}
{% load i18n %}

{% block 'content' %}

 <div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Product Details Tab</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-details pt-65 pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-img">
                            <div id="gallery" class="product-dec-slider-2">
                                <a data-image="{{ MEDIA_ROOT }}{{ data.p_img_1.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_1.url }}">
                                    <img src="{{ MEDIA_ROOT }}{{ data.p_img_1.url }}" alt="">
                                </a>
                                <a data-image="{{ MEDIA_ROOT }}{{ data.p_img_2.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_2.url }}">
                                    <img src="{{ MEDIA_ROOT }}{{ data.p_img_2.url }}" alt="">
                                </a>

                                {% if data.p_img_3 != "" %}
                                <a data-image="{{ MEDIA_ROOT }}{{ data.p_img_3.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_3.url }}">
                                    <img src="{{ MEDIA_ROOT }}{{ data.p_img_3.url }}" alt="">
                                </a>
                                {% endif %}

                                {% if data.p_img_4 != "" %}
                                <a data-image="{{ MEDIA_ROOT }}{{ data.p_img_4.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_4.url }}">
                                    <img src="{{ MEDIA_ROOT }}{{ data.p_img_4.url }}" alt="">
                                </a>
                                {% endif %}

                                {% if data.p_img_5 != "" %}
                                <a data-image="{{ MEDIA_ROOT }}{{ data.p_img_5.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_5.url }}">
                                    <img src="{{ MEDIA_ROOT }}{{ data.p_img_5.url }}" alt="">
                                </a>
                                {% endif %}

                                {% if data.p_img_6 != "" %}
                                <a data-image="{{ MEDIA_ROOT }}{{ data.p_img_6.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_6.url }}">
                                    <img src="{{ MEDIA_ROOT }}{{ data.p_img_6.url }}" alt="">
                                </a>
                                {% endif %}
                            </div>
                            <div class="zoompro-wrap zoompro-2 pl-20">
                                <div class="zoompro-border zoompro-span">
                                    <img class="zoompro" src="{{ MEDIA_ROOT }}{{ data.p_img_1.url }}" data-zoom-image="{{ MEDIA_ROOT }}{{ data.p_img_1.url }}" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="product-details-content">
                            <h4>{{ data.p_name }}</h4>
                            <br>
                            <h5>{{ data.p_model_no }}</h5>
                            <br>
                            <span>${{ data.p_price }}</span>
                            <div class="in-stock">
                                <p>Available: <span>In stock</span></p>
                                <p>Manufacturing Date: <span>{{data.p_manufacturing_date}}</span></p>
                                <p>Warranty: <span>{{data.p_warranty}}</span></p>
                                <p>Replace Time: <span>{{data.p_replace_time}} Days</span></p>
                            </div>
                            <div class="quality-add-to-cart">
                                <div class="quality">
                                    <label>Qty:</label>
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                </div>
                                <div class="product-action">
                                    <a class="action-cart" title="Add To Cart" href="#"> Add to Cart </a>
                                    <a class="same-action" title="Wishlist" href="#">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a class="same-action compare-mrg" data-target="#exampleCompare" data-toggle="modal" title="Compare" href="#">
                                        <i class="fa fa-sliders fa-rotate-90"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="pro-dec-categories">
                                <ul>
                                    <li class="categories-title">Categories:</li>
                                    <li>{{ categoryName }}</li>
                                </ul>
                            </div>
                            <div class="pro-dec-social">
                                <ul>
                                    <li><a target="_blank" class="tweet" href="http://twitter.com/share?url=#url"><i class="ion-social-twitter"></i> Tweet</a></li>
                                    <li><a target="_blank" class="share" href="https://www.facebook.com/sharer/sharer.php?u=#url"><i class="ion-social-facebook"></i> Share</a></li>
                                    <li><a target="_blank" class="pinterest" href="http://pinterest.com/pin/create/button/?url=#url"><i class="ion-social-pinterest"></i> Pinterest</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-review-area pt-25 pb-70">
            <div class="container">
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav text-center">
                        <a class="active" data-toggle="tab" href="#des-details1">Description</a>
                        <a data-toggle="tab" href="#des-details2">Materials</a>
                        <a data-toggle="tab" href="#des-details3">Review</a>
                    </div>
                    <div class="tab-content description-review-bottom">
                        <div id="des-details1" class="tab-pane active">
                            <div class="product-description-wrapper">
                                <p>{{ data.p_bio }}</p>
                                <ul>
                                    <li>-  {{ data.p_feature_1 }}</li>
                                    <li>-  {{ data.p_feature_2 }}</li>

                                    {% if data.p_feature_3 != "" %}
                                        <li>-  {{ data.p_feature_3 }}</li>
                                    {% endif %}

                                    {% if data.p_feature_4 != "" %}
                                        <li>-  {{ data.p_feature_4 }}</li>
                                    {% endif %}

                                    {% if data.p_feature_5 != "" %}
                                        <li>-  {{ data.p_feature_5 }}</li>
                                    {% endif %}

                                    {% if data.p_feature_6 != "" %}
                                        <li>-  {{ data.p_feature_6 }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div id="des-details2" class="tab-pane">

                            <div class="in-stock">
                                {% if data.p_pdf != "" %}
                                    <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;PDF: <span><a target="_blank" style="color:#047AFE" href="{{MEDIA_URL}}{{ data.p_pdf.url }}">Click Here ...</a></span></p>
                                {% endif %}

                                {% if data.p_ppt != "" %}
                                    <p><i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;PPT: <span><a target="_blank" style="color:#047AFE" href="{{MEDIA_URL}}{{ data.p_ppt.url }}">Click Here ...</a></span></p>
                                {% endif %}

                                {% if data.p_blog_link != None %}
                                    <p><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Blog: <span><a target="_blank" style="color:#047AFE" href="{{ data.p_blog_link }}">Click Here ...</a></span></p>
                                {% endif %}

                                {% if data.p_youtube_link != "" %}
                                    <p><i class="fa fa-youtube-play" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Youtube: <span><a target="_blank" style="color:#047AFE" href="{{ data.p_youtube_link }}">Click Here ...</a></span></p>
                                {% endif %}

                                {% if data.p_software_link != "" %}
                                    <p><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Software: <span><a target="_blank" style="color:#047AFE" href="{{ data.p_software_link }}">Click Here ...</a></span></p>
                                {% endif %}
                            </div>

                        </div>
                        <div id="des-details3" class="tab-pane">
                            <div class="rattings-wrapper">
                                <div class="sin-rattings">
                                    <div class="star-author-all">
                                        <div class="ratting-star f-left">
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <span>(5)</span>
                                        </div>
                                        <div class="ratting-author f-right">
                                            <h3>tayeb rayed</h3>
                                            <span>12:24</span>
                                            <span>9 March 2018</span>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</p>
                                </div>
                                <div class="sin-rattings">
                                    <div class="star-author-all">
                                        <div class="ratting-star f-left">
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <i class="ion-star theme-color"></i>
                                            <span>(5)</span>
                                        </div>
                                        <div class="ratting-author f-right">
                                            <h3>farhana shuvo</h3>
                                            <span>12:24</span>
                                            <span>9 March 2018</span>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utenim ad minim veniam, quis nost.</p>
                                </div>
                            </div>
                            <div class="ratting-form-wrapper">
                                <h3>Add your Comments :</h3>
                                <div class="ratting-form">
                                    <form action="#">
                                        <div class="star-box">
                                            <h2>Rating:</h2>
                                            <div class="ratting-star">
                                                <i class="ion-star theme-color"></i>
                                                <i class="ion-star theme-color"></i>
                                                <i class="ion-star theme-color"></i>
                                                <i class="ion-star theme-color"></i>
                                                <i class="ion-star"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-20">
                                                    <input placeholder="Name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="rating-form-style mb-20">
                                                    <input placeholder="Email" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    <textarea name="message" placeholder="Message"></textarea>
                                                    <input type="submit" value="add review">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}