{% extends 'User/header_footer.html' %}
{% load static %}
{% load i18n %}

{% block 'content'  %}



<div class="breadcrumb-area gray-bg-7">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Wishlist </li>
                    </ul>
                </div>
            </div>
        </div>
         <!-- shopping-cart-area start -->
        <div class="cart-main-area pt-60 pb-25">
            <div class="container">
                <h3 class="page-title">Your WishList items</h3>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="table-content table-responsive wishlist">
                                <table class="col-md-12">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Add On</th>
                                            <th>Add To Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data %}
                                            <tr>
                                                <td>{{ i.product_name }}</td>
                                                <td>{{ i.price }}</td>
                                                <td>{{ i.added_in_wishlist }}</td>
                                                <td>
                                                    <button class="btn btn-primary" style="border-radius:5px">
                                                        Add To Cart
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" style="border-radius:5px">
                                                        Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}