{% load static %}
{% load i18n %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Engineering Tools</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- all css here -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        <!--Notification Section-->
        <div class="notification-section notification-img-1 notification-padding-1">
			<div class="container">
				<div class="notification-wrapper">
					<div class="notification-content ml-285">
						<p>Get free shipping and a worry - Free 30 day money back guarantee when you !  <a href="#">Shop Online</a> </p>
					</div>
                    <div class="notification-close notification-icon">
                        <button><i class="ion-close"></i></button>
                    </div>
				</div>
			</div>
        </div>
        <!-- header start -->
        <header class="header-area theme-bg">
            <div class="header-top pt-10 pb-13 border-bottom-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="header-top-left">
                                <div class="language-currency">
                                    <span>Language:</span>
                                    <div class="lang-curr-dropdown">
                                        <ul>
                                            <li><a class="language-click" href="#">English <i class="ion-chevron-down"></i></a>
                                                <ul class="language-dropdown">
                                                    <li><a href="#">English </a></li>
                                                    <li><a href="#">Bangla </a></li>
                                                    <li><a href="#">Hindi </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="language-currency lang-curr-mrg">
                                    <span>Currency: </span>
                                    <div class="lang-curr-dropdown">
                                        <ul>
                                            <li><a class="language-click" href="#">USD <i class="ion-chevron-down"></i></a>
                                                <ul class="language-dropdown">
                                                    <li><a href="#">USD </a></li>
                                                    <li><a href="#">US </a></li>
                                                    <li><a href="#">EURO </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle ptb-40 border-bottom-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo logo-mrg">
                                <a href="index.html">
                                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-12">
                            <div class="header-contact-search-wrapper f-right">
                                <div class="header-contact middle-same">
                                    <div class="header-contact-icon">
                                        <i class="pe-7s-headphones"></i>
                                    </div>
                                    <div class="header-contact-content">
                                        <p>Call us <br>Free Support: (012) 800 456 789</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="logo mobile-logo">
                                <a href="index.html">
                                    <img alt="" src="assets/img/logo/logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu-area">
                                <div class="mobile-menu">
                                    <nav id="mobile-menu-active">
                                        <ul class="menu-overflow">
                                            <li><a href="index.html">HOME</a>
                                                <ul>
                                                    <li><a href="#">Demo Group 01</a>
                                                        <ul>
                                                            <li><a href="index.html">Home - electronics</a></li>
                                                            <li><a href="index-electronics-2.html">Home - electronics 2</a></li>
                                                            <li><a href="index-electronics-3.html">Home - electronics 3</a></li>
                                                            <li><a href="index-electronics-4.html">Home - electronics 4</a></li>
                                                            <li><a href="index-book.html">Home - book </a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Demo Group 02</a>
                                                        <ul>
                                                            <li><a href="index-book-2.html">Home - book 2</a></li>
                                                            <li><a href="index-coffee.html">Home - coffee</a></li>
                                                            <li><a href="index-cycle.html">Home - cycle</a></li>
                                                            <li><a href="index-fashion.html">Home - fashion</a></li>
                                                            <li><a href="index-game.html">Home - game</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Demo Group 03</a>
                                                        <ul>
                                                            <li><a href="index-jewelry.html">Home - jewelry</a></li>
                                                            <li><a href="index-medical.html">Home - medical</a></li>
                                                            <li><a href="index-sports.html">Home - sports</a></li>
                                                            <li><a href="index-sunglass.html">Home - sunglass</a></li>
                                                            <li><a href="index-watch.html">Home - watch</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Demo Group 04</a>
                                                        <ul>
                                                            <li><a href="index-construction.html">Home - construction</a></li>
                                                            <li><a href="index-auto-parts.html">Home - Auto Parts<span>New</span></a></li>
                                                            <li><a href="index-furniture.html">Home - Furniture<span>New</span></a></li>
                                                            <li><a href="index-petmarket.html">Home - PetMarket<span>New</span></a></li>
                                                            <li><a href="index-organic.html">Home - Organic<span>New</span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Demo Group 05</a>
                                                        <ul>
                                                            <li><a href="index-shoe.html">Home - Shoe<span>New</span></a></li>
                                                            <li><a href="index-toy.html">Home - Toy<span>New</span></a></li>
                                                            <li><a href="index-cosmetic.html">Home - Cosmetic<span>New</span></a></li>
                                                            <li><a href="index-housewares.html">Home - Housewares<span>New</span></a></li>
                                                            <li><a href="index-underwear.html">Home - Underwear<span>New</span></a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="shop.html"> shop </a>
                                                <ul>
                                                    <li><a href="#">Shop Layout</a>
                                                        <ul>
                                                            <li><a href="shop.html">default shop</a></li>
                                                            <li><a href="shop-2col.html">2 column box</a></li>
                                                            <li><a href="shop-3col.html">3 column box</a></li>
                                                            <li><a href="shop.html">4 column box</a></li>
                                                            <li><a href="shop-list.html">shop list</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Shop Layout</a>
                                                        <ul>
                                                            <li><a href="shop-new.html">shop new</a></li>
                                                            <li><a href="shop-onsale.html">shop onsale</a></li>
                                                            <li><a href="shop-no-sidebar.html">shop no sidebar</a></li>
                                                            <li><a href="shop-rightsidebar.html">shop right sidebar</a></li>
                                                            <li><a href="shop-fullwide.html">shop fullwide</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Product Details Layout</a>
                                                        <ul>
                                                            <li><a href="product-details.html">tab style 1</a></li>
                                                            <li><a href="product-details-2.html">tab style 2</a></li>
                                                            <li><a href="product-details-3.html">tab style 3</a></li>
                                                            <li><a href="product-details-gallery.html">gallery left</a></li>
                                                            <li><a href="product-details-gallery-2.html">gallery right</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Product Details Layout</a>
                                                        <ul>
                                                            <li><a href="product-details-sticky.html">sticky left</a></li>
                                                            <li><a href="product-details-sticky-right.html">sticky right</a></li>
                                                            <li><a href="product-details-slider.html">slider box</a></li>
                                                            <li><a href="product-details-slider-fullwide.html">slider full wide</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Account Pages</a>
                                                        <ul>
                                                            <li><a href="cart-page.html">cart page</a></li>
                                                            <li><a href="checkout.html">checkout</a></li>
                                                            <li><a href="wishlist.html">wishlist</a></li>
                                                            <li><a href="my-account.html">my account</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">pages</a>
                                                <ul>
                                                    <li><a href="about-us.html">about us</a></li>
                                                    <li><a href="login-register.html">login / register</a></li>
                                                    <li><a href="contact.html">contact us</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">BLOG</a>
                                                <ul>
                                                    <li><a href="blog.html">blog page</a></li>
                                                    <li><a href="blog-leftsidebar.html">blog sidebar</a></li>
                                                    <li><a href="blog-details.html">blog details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html"> Contact us </a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>